@charset "utf-8";
/* CSS Document */
@media screen and (max-width: 1000px) 
{
	.more-detail .class
	{
		float:inherit !important;
		text-align:center;
		width:100%;
	}
	.more-detail .view
	{
		float:inherit !important;
		text-align:center;
		width:100%;
		margin-top:10px;
	}
	header nav, #divMain, #footer 
	{
		padding-left:5px;
		padding-right:5px;
	}
}

@media screen and (max-width: 920px) 
{
	.item-list, .page-list, .item-detail
	{
		float:inherit;
		width:auto !important;
		padding:10px 5px;
	}
	.list-book li 
	{
		float:left;
		margin:10px 2%;
		width:46%;
	}
	.search-other .search-other-item
	{
		width:auto;
		display:block;
		margin-bottom:10px;
	}
	.list-news .list-item 
	{
		width:33%;
	}
	.list-news .list-item
	{
		width:50%;
	}
}
	
@media screen and (max-width: 770px) 
{
    #divBannerTop
    {
        height:110px !important;
    }
    #divSearch
	{
		display:block;
		width:100%;
		position:inherit !important;
		top:inherit !important;
		left:inherit !important;
		clear:both;
		margin-top:10px;
	}
	#HeaderLeft
	{
		margin-bottom:10px;
		width:100% !important;
	}
	#HeaderRight
	{
		width:100% !important;
        top: 60px !important;
	}
	.list-lesson .unit4, .full-size .unit4
	{
		width:50%;
	}
	.col-left, .col-right
	{
	  width: 100%;
	  float: inherit !important;
	  min-width: 200px;
	}
	.more-detail .class
	{
		float:left !important;
		text-align:inherit;
		width:inherit;
	}
	.more-detail .view
	{
		float:right !important;
		text-align:right;
		width:inherit !important;
		margin-top:0px;
	}
	.banner-list, .modul-list
	{
		display:block;
		width:100% !important;
		margin-bottom:20px;
	}
	.main-list
	{
		padding:0px 5px;
	}
	.main-list .col-left-7,.main-list .col-right-3
	{
		float:inherit;
		width:auto;
	}
	.news-detail, .news-other
	{
		float:inherit;
		width:auto;
	}
	.news-other
	{
		text-align:center;
		margin-top:30px;
		padding-top:20px;
		border-top:solid 1px #ccc;
	}
	.news-other .list-item
	{
		width:32%;
		display:inline-block;
	}
    .two-column .two-column-form,.three-column .three-column-form
    {
        width:100%;
    }
    .two-column .two-column-form:first-child
    {
        margin-right:0%;
    }
    .two-column .two-column-form:last-child
    {
        margin-left:0%;
    }
    .modul-list ul
    {
        display:inline;
    }
    .modul-list li 
	{
	  width: 49%;
	  float: left;
	  text-align: center;
	  margin-left: 0.5%;
	  margin-right: 0.5%;
	  margin-bottom: 2%;
	}
    .modul-list li:nth-child(1),.modul-list li:nth-child(3),.modul-list li:nth-child(5)
    {
	  margin-left: 0%;
	  margin-right: 1%;
    }
    .modul-list li:nth-child(2),.modul-list li:nth-child(4),.modul-list li:nth-child(6)
    {
	  margin-left: 1%;
	  margin-right: 0%;
    }
}
@media screen and (max-width: 720px) 
{
	.subject-list a 
	{
	  padding: 15px 10px;
	  margin: 8px;
	  font-size:100%;
	}
	
}
@media screen and (max-width: 650px) 
{
	.control-left .menu-head-list
	{
		display:none;
	}
	.list-news .list-item 
	{
		width:50%;
	}
	.item-list li 
	{
	  width: auto;
	  float: inherit;
	  margin-right: 0px;
	  margin-bottom: 4%;
	}
	.search-row
	{
		margin-bottom:20px !important;
	}
	.search-row > div
	{
		width: auto;
	  	float: inherit;
		margin-bottom:10px;
	}
	.search-row p
	{
		text-align:left;
	}
	.search-z39 > div
	{
		width: auto;
	  	float: inherit;
		margin-bottom:10px;
	}
	.search-z39 .button-control
	{
		text-align:center;
	}
	.txt-right
	{
		text-align:left;
	}
	.news-other .list-item
	{
		width:49%;
		display:inline-block;
	}
}
@media screen and (max-width: 550px) 
{
	.subject-list a 
	{
	  padding: 10px 5px;
	  margin: 5px;
	  font-size:90%;
	}
	
	.subject-list a p
	{
	  	display:none;
	}
	.more-detail .class
	{
		float:inherit !important;
		text-align:center;
		width:100%;
	}
	.more-detail .view
	{
		float:inherit !important;
		text-align:center;
		width:100%;
		margin-top:0px;
	}
	
	.list-book li 
	{
		float:inherit;
		margin:10px 0px;
		width:auto;
	}
	.detail-head .detail-img, .detail-head .detail-intro
	{
		float:inherit;
		margin:10px 0px;
		width:auto;
	}
	.list-news .list-item
	{
		width:auto;
		float:inherit;
	}
}
@media screen and (max-width: 520px) {
    /*.select-box {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        padding: 0px 5px;
        margin-bottom: 10px;
    }

        .select-box:before, .select-box:after {
            border-color: #fff transparent;
        }

        .select-box select {
            color: #fff;
        }

            .select-box select > option {
                background: #333;
            }

    #SearchForm {
        background: none;
        border: none;
        position: relative;
        padding: 0;
    }

    .search-box {
        position: relative;
        background: #fff;
        border: solid 1px #ccc;
        padding: 5px 5px;
        display: block;
    }

        .search-box .InputSearch {
            float: inherit !important;
            width: 90% !important;
            margin-left: 0px !important;
        }*/

    #FooterLeft {
        width: 100% !important;
        float: inherit !important;
        padding-bottom: 20px;
    }

        #FooterLeft p {
            padding-left: 5px;
        }

    #FooterRight {
        float: inherit !important;
        width: 100% !important;
        padding-bottom: 10px;
    }

        #FooterRight ul {
            text-align: center !important;
        }

    #CopyRight {
        bottom: 10px !important;
        top: inherit !important;
        width: 100%;
        text-align: center;
    }

    nav {
        padding: 10px 5px;
    }

    .head-submenu {
        width: 100%;
    }

    .sub-list-menu {
        display: block;
    }

        .sub-list-menu li .group-item {
            display: block;
            position: relative;
            top: auto;
            left: auto;
            width: auto;
            background: none;
            border: none;
            margin-left: 30px;
            font-size: 90%;
        }

        .sub-list-menu li > a {
            padding-bottom: 3px;
            border-bottom: solid 1px #666;
            margin-bottom: 10px;
        }

        .sub-list-menu li:hover {
            background: none;
        }

}
@media screen and (max-width: 460px) 
{
	.list-news .list-item 
	{
		width:auto;
		float:inherit;
	}
	.subject-list .unit5
	{
		width:33.33%;
	}
	.subject-list .mar-15
	{
		margin:0px;
	}
	.list-lesson .unit4, .full-size .unit4, .col-left .unit2, .col-right .unit2
	{
		width:100%;
	}
	
	.more-detail .class
	{
		float:left !important;
		text-align:inherit;
		width:inherit;
	}
	.more-detail .view
	{
		float:right !important;
		text-align:right;
		width:inherit !important;
		margin-top:0px;
	}
	.divPage
	{
		text-align:center;
	}
	.divPage ul li
	{
		float:inherit;
		display:inline-block;
	}
	.news-other .list-item
	{
		width:auto;
		display:block;
	}
}
