/* Wrapper */
.DemoArea .hdr { width:220px;height:5px;line-height:0;overflow:hidden;background:#fff url("images/static.png") no-repeat; }
.DemoArea .con { width:220px;height:290px;background:#fff url("images/vertical.png") repeat-y; }
.DemoArea .ftr { width:220px;height:6px;line-height:0;overflow:hidden;background:#fff url("images/static.png") no-repeat 0 -6px; }


/* NavBar styles */
.nb { width:208px;height:auto;margin:0 5px;border:1px solid #ccc;border-bottom:#eee; }
.item,.item-h,.item-x { font:12px Arial,Helvetica,sans-serif;color:#666;cursor:default; }
	.item .top,.item-h .top,.item-x .top { width:208px;height:29px;background:transparent url("images/static.png") no-repeat 0 -12px;font-weight:bold;line-height:29px;border-bottom:1px solid #ccc; }
	.item-h .top { background-position:0 -41px; }
	.item-x .top { color:#dd3409; }

.item .sub,.item-h .sub { width:208px;height:24px;background-color:#fff;color:#666;padding:0 5px;line-height:24px; }
.item-h .sub { background:#e3e3e3;color:#000; }
.grp { border-bottom:1px solid #ccc; }

.icon { float:left;width:16px;height:16px;background:transparent url("images/icons.png") no-repeat; }
.icon { _background-image:url("images/icons.gif"); } /* For IE6 */
.top .icon { margin:5px 8px; }
.sub .icon { margin:4px 8px 0 12px; }

.mail { background-position:0 0; }
.contacts { background-position:0 -16px; }
.note { background-position:0 -32px; }

.mailbox { background-position:0 -48px; }
.inbox { background-position:0 -64px; }
.drafts { background-position:0 -80px; }
.outbox { background-position:0 -96px; }
.junk { background-position:0 -112px; }
.deleted { background-position:0 -128px; }
.search { background-position:0 -144px; }
.sent { background-position:0 -160px; }