<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Zoom.Net.Factory" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <Zoom.Net.Factory>
    <add key="IConnectionClass" value="Zoom.Net.YazSharp.Connection, Zoom.Net.YazSharp"/>
    <add key="IPrefixQueryClass" value="Zoom.Net.YazSharp.PrefixQuery, Zoom.Net.YazSharp"/>
  </Zoom.Net.Factory>
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="vb" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="RemoteOnly"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows"/>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*"/>
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <browserCaps>
      <!-- 
  Name:    BrowserCaps update for modern browsers, http://slingfive.com/pages/code/browserCaps/
  Author:  Rob Eberhardt, http://slingfive.com/
  History:
    2004-11-19  improved detection of Safari, Konqueror &amp; Mozilla variants, added Opera detection
    2003-12-21  updated TagWriter info
    2003-12-03  first published
  -->
      <!-- GECKO Based Browsers (Netscape 6+, Mozilla/Firefox, ...) //-->
      <case match="^Mozilla/5\.0 \([^)]*\) (Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))?">
      browser=Gecko
      <filter>
          <case match="(Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))">
          type=${type}
        </case>
          <case>
            <!-- plain Mozilla if no VendorProductToken found -->
          type=Mozilla
        </case>
        </filter>
      frames=true
      tables=true
      cookies=true
      javascript=true
      javaapplets=true
      ecmascriptversion=1.5
      w3cdomversion=1.0
      css1=true
      css2=true
      xml=true
      tagwriter=System.Web.UI.HtmlTextWriter
      <case match="rv:(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))">
        version=${version}
        majorversion=0${major}
        minorversion=0${minor}
        <case match="^b" with="${letters}">
          beta=true
        </case>
        </case>
      </case>
      <!-- AppleWebKit Based Browsers (Safari...) //-->
      <case match="AppleWebKit/(?'version'(?'major'\d?)(?'minor'\d{2})(?'letters'\w*)?)">
      browser=AppleWebKit
      version=${version}
      majorversion=0${major}
      minorversion=0.${minor}
      frames=true
      tables=true
      cookies=true
      javascript=true
      javaapplets=true
      ecmascriptversion=1.5
      w3cdomversion=1.0
      css1=true
      css2=true
      xml=true
      tagwriter=System.Web.UI.HtmlTextWriter
      <case match="AppleWebKit/(?'version'(?'major'\d)(?'minor'\d+)(?'letters'\w*))(.* )?(?'type'[^/\d]*)/.*( |$)">
        type=${type}
      </case>
      </case>
      <!-- Konqueror //-->
      <case match=".+[K|k]onqueror/(?'version'(?'major'\d+)(?'minor'(\.[\d])*)(?'letters'[^;]*));\s+(?'platform'[^;\)]*)(;|\))">
      browser=Konqueror
      version=${version}
      majorversion=0${major}
      minorversion=0${minor}
      platform=${platform}
      type=Konqueror
      frames=true
      tables=true
      cookies=true
      javascript=true
      javaapplets=true
      ecmascriptversion=1.5
      w3cdomversion=1.0
      css1=true
      css2=true
      xml=true
      tagwriter=System.Web.UI.HtmlTextWriter
    </case>
      <!-- Opera //-->
      <case match="Opera[ /](?'version'(?'major'\d+)(?'minor'\.(?'minorint'\d+))(?'letters'\w*))">
        <filter match="[7-9]" with="${major}">
        tagwriter=System.Web.UI.HtmlTextWriter
      </filter>
        <filter>
          <case match="7" with="${major}">
            <filter>
              <case match="[5-9]" with="${minorint}">
              ecmascriptversion=1.5
            </case>
              <case>
              ecmascriptversion=1.4
            </case>
            </filter>
          </case>
          <case match="[8-9]" with="${major}">
          ecmascriptversion=1.5
        </case>
        </filter>
      </case>
    </browserCaps>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" enableViewStateMac="false">
      <namespaces>
        <add namespace="Microsoft.VisualBasic"/>
        <add namespace="System.Data"/>
        <add namespace="System.Drawing"/>
      </namespaces>
    </pages>
    <httpRuntime/>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
    </httpHandlers>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
    </handlers>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="OIndex.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="SendErrorToEmail" value="trinhtanphuong@dgsoft.vn"/>
    <add key="SendErrorFromEmail" value="trinhtanphuong@dgsoft.vn"/>
    <add key="SmtpServer" value="192.168.50.1"/>
    <add key="ePageSize" value="20"/>
    <add key="ePageLength" value="7"/>
    <add key="ePageSpace" value="5"/>
    <add key="IIPServer" value="/eMagazineServer/iipsrv.fcgi"/>
    <add key="eMagazinePageSize" value="18"/>
    <add key="eMagazinePageLength" value="10"/>
    <add key="eMagazinePageSpace" value="5"/>
    <add key="eMagazineHeightCover" value="520"/>
    <add key="eMagazineWidthCover" value="260"/>
    <add key="callNumberLimit" value="2"/>
    <add key="NewsImage" value="http://localhost/NewsImage/"/>
    <add key="ApiUrl" value="http://author.ut.edu.vn/UTAuthenticate.asmx/"/>
    <add key="publicKey" value="@UT.edu.vn@"/>
    <add key="IsEncryptPass" value="1"/>
    <!-- Google -->
    <add key="ClientId_Google" value="255259355977-h8pqnp7rhssf0uvruo7v3mhbe9m2nsde.apps.googleusercontent.com"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/define:Debug=True /define:Trace=True /imports:Microsoft.VisualBasic,System,System.Collections,System.Configuration,System.Data,System.Drawing,System.Web,System.Web.UI,System.Web.UI.HtmlControls,System.Web.UI.WebControls">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MySettings>
      <setting name="eMicLibOPAC_WebUI_HungLe_Service_SendSMS2" serializeAs="String">
        <value>http://210.211.101.107/SendMTAuth/SendMT2.asmx</value>
      </setting>
    </MySettings>
  </applicationSettings>
</configuration>