.Heading
{
  background: url(images/heading_bg.gif);
  background-color: #737294;
  color: #FFFFFF; 
  border: #57566F 1px solid; 
  font-family: tahoma; 
  font-size: 11px;
  font-weight: bold; 
  padding: 5px; 
  cursor: default; 
}

.TreeContainer
{
  background-color: #FFFFFF; 
  border: 1px solid #B1B1B1; 
  border-top-width: 0px;
  padding-bottom:9px;
}

.GridContainer
{
  background-color: #FFFFFF; 
  border: 1px solid #B1B1B1; 
  border-top-width: 0px;

}


.MenuCallBack
{
  background-color:#F0F0F0;
  border:1px solid #808080;
  width:155px;
  height:260px;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#8D8F95',Direction=135,Strength=2);
}